body{
    background-color: #2a2a2f;
}
#form{
    border: 2px solid rgba(81, 25, 134, 0.812);
    position: relative;
    display: flex;
    height: auto;
    width: 370px;
    margin: auto;
    padding: 20px;
    top:200px;
    line-height: auto;
    color: rgb(49, 12, 88);
    border-radius: 20px;
    background: rgba(120, 120, 120, 0.9);

    border: 2px solid rgba(137, 43, 226, 0.6);

    box-shadow:
        0 0 25px 6px rgba(155, 80, 255, 0.55),
        0 0 60px 20px rgba(155, 80, 255, 0.35),
        0 0 120px 45px rgba(155, 80, 255, 0.25);

    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
    will-change: transform, box-shadow;

}

#title{
    text-align: center;
    color: rgb(49, 12, 88);
}
td input {
    margin-left: 100px;
    border-radius: 5px;
    width: 8em;
    color: white;
    font-size: inherit;
    font-family: inherit;

    background-color: transparent;

    border: 2px solid rgba(137, 43, 226, 0.6);
    border-color: transparent;
    border-bottom-color: rgba(137, 43, 226, 0.6);

    box-shadow: 0 0 0 0 rgba(137, 43, 226, 0.6);

    transition:
        border-color 0.7s ease,
        box-shadow 0.7s ease,
        background-color 0.7s ease;
}

input:focus {
    outline: none;
    border-color: rgba(137, 43, 226, 0.6);
    box-shadow: 0 0 40px 2px rgba(137, 43, 226, 0.6);
    background-color: rgb(146, 121, 154);
}

.neon-form {
    position: relative;
    padding: 30px 40px;
    border-radius: 18px;

    background: rgba(115, 115, 115, 0.95);

    border: 2px solid rgba(190, 100, 255, 0.9);

    box-shadow:
        0 0 30px rgba(190, 100, 255, 0.45),
        0 0 90px rgba(120, 50, 255, 0.35);

    transition: box-shadow 0.12s ease;

    will-change: box-shadow;
}
